.header {
  width: 95%;
  height: 77px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.full-border-bottom {
  border-bottom: 1px solid #dbdbdb;
}

.actions button:first-child {
  margin-right: 20px;
}

.search {
  display: none;
}
.logo {
  display: grid;
  grid-template: 1fr / 24px 1fr;
  grid-column-gap: 33px;
}

.footer {
  display: grid;
  grid-template: 3fr 1fr / 1fr;
  justify-items: center;
  width: 95%;
  margin: 0 auto;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 18px; */
  text-align: center;
  text-transform: uppercase;

  color: #003569;
}
.list-item li {
  margin-right: 16px;
  margin-bottom: 7px;
}

.list-item li:last-child {
  margin-right: 0;
  margin-bottom: 7px;
}

.footer span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .header {
    width: 60%;
    height: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    display: block;
  }
  .search input {
    outline: none;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 4px;
    width: 215px;
    text-align: center;
    text-transform: capitalize;
  }
  .logo {
    display: grid;
    grid-template: 1fr / 24px 1fr;
    grid-column-gap: 33px;
  }
  .footer {
    display: grid;
    grid-template: 1fr 1fr / 100%;
    justify-items: left;
    width: 65%;
  }
  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    margin: 0;
    padding: 0;
  }
  .list-item a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #003569;
  }
  .list-item li {
    padding-right: 10px;
  }

  .list-item li:last-child {
    padding-right: 0;
  }
  .footer span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #999999;
  }
}
