*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.content ul { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.content ul a{
  text-decoration: none;
}

.cards-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

.content li > a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}
.content li:first-child > a {
  color: #262626;
}

@media (min-width: 992px) {
  .body {
    max-width: ;
  }
  .cards-content {
    margin: 0 373px
    gap: 28px;
  }
}
